<% include ./partials/header %>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">TaleSpin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/blogs">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blogs/new">New</a>
      </li>
    </ul>
    <form action="javascript:void(0)" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">TaleSpin Blogs</h1>
  </div>
</div>

<div class="container mb-3">
  <div class="row justify-content-center">
    <div class="col">
      <h1><%= blog.title %></h1>
      <img src="<%=blog.image %>" alt="image related to <%= blog.title %>" class="w-100">
      <div><%= blog.created.toDateString() %></div>
        <p><%- blog.body%></p>
        <a href="/blogs" class="btn btn-primary" role="button">Home</a>
        <form action="/blogs/<%= blog._id %>/edit" method="GET" style="display: inline;">
          <button class="btn btn-warning px-4">Edit</button>
        </form>
        <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST" style="display: inline;">
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>

<% include ./partials/footer %>